

{% extends '/layout/_sidebar.html'%}

{% block title %} Projets{% endblock %}

{% block content %}
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Form Wizard
                    <small>Taken from <a href="https://github.com/rstaib/jquery-steps" target="_blank">github.com/rstaib/jquery-steps</a> &amp; <a href="https://jqueryvalidation.org/" target="_blank">jqueryvalidation.org</a></small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Nexa</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                    <li class="breadcrumb-item active">Form Wizard</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        
        <div class="row clearfix">
      
            <div class="col-lg-4 col-md-3 col-sm-3">
                <br>
                <br>
                <br>
                <div class="card">
                    <div class="header">
                        <h3>vs_gatewaye</h3>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more-vert"></i> </a>
                                <ul class="dropdown-menu pull-right" class="pullDown">
                                    <li><a href="" data-toggle="modal" data-target="#largeModal">Edit</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        
                          
                                   <li>Device_dc</li>
                                   
                                    <li>device_voltage</li>
                                    
                               
                            
                    
                    </div>
                </div>
            </div>
        
        </div>
        <!-- #END# Advanced Form Example With Validation --> 
    </div>
</section>

<section>
    <div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="largeModalLabel">Modal title</h4>
                </div>
                <div class="modal-body"> 
                  
                </div>
                <div class="modal-footer">
                    <input type="submit" value="SAVE CHANGES" class="btn btn-link waves-effect">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var timer = function() {
        setTimeout(function(){ window.location.reload(); }, 15000);
    };
    timer();
    </script>
{% endblock %}