
{% extends '/layout/_sidebar.html'%}

{% block title %} Projets{% endblock %}

{% block content %}
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Form Wizard
                    <small>Taken from <a href="https://github.com/rstaib/jquery-steps" target="_blank">github.com/rstaib/jquery-steps</a> &amp; <a href="https://jqueryvalidation.org/" target="_blank">jqueryvalidation.org</a></small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Nexa</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                    <li class="breadcrumb-item active">Form Wizard</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
      
        <!-- Basic Example | Vertical Layout -->
       
        <!-- #END# Basic Example | Vertical Layout --> 
        <!-- Advanced Form Example With Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h1> Add Device</h1>
                        <hr>

                    </div>
                    <div class="body">
                        <form id="wizard_with_validation" method="POST"  action="/device">
                           <fieldset>
                               
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" name="deviceName" class="form-control" required>
                                        <label class="form-label">Device Name</label>
                                    </div>
                                    
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" name="d_id" class="form-control" required>
                                        <label class="form-label">Device Id</label>
                                    </div>
                                    
                                </div>
                                <div class="form-group form-float">
                                    <label class="form-label">Gatewaye</label>
                                <div class="col-lg-3 col-md-6">
                                    <select class="form-control show-tick" name="gw_id">
                                        {% for gatewayes in gatewaye %}
                                       <option value="{{gatewayes.id}}">{{gatewayes.name}}</option>
                                      {% endfor %}
                                    </select>
                                </div>
                                </div>
                                <div class="form-group form-float">
                                    <div class="">
                                       <input type="submit" class="btn btn-success">
                                    </div>
                                   
                                </div>
                            </fieldset>
                          
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Advanced Form Example With Validation --> 
    </div>
</section>




<div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Modal title</h4>
            </div>
            <div class="modal-body"> 
                <form id="wizard_with_validation" method="POST"  action="/device">
                    <fieldset>
                         <div class="form-group form-float">
                             <div class="form-line">
                                 <input type="text" name="deviceName" value="{{deviceshow}}" class="form-control" required>
                                 <label class="form-label">{{deviceshow}}</label>
                             </div>
                         </div>
                         <div class="form-group form-float">
                             <label class="form-label">Gatewaye</label>
                         <div class="col-lg-3 col-md-6">
                             <select class="form-control show-tick" name="gw_id">
                                 {% for gatewayes in gatewaye %}
                                <option value="{{gatewaye.id}}">{{gatewayes.name}}</option>
                               {% endfor %}
                             </select>
                         </div>
                         </div>
                     </fieldset>
                    </form>
            </div>
            <div class="modal-footer">
                <input type="submit" value="SAVE CHANGES" class="btn btn-link waves-effect">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}